.rightbar {
  flex: 2.5;
}
.birthdayContainer {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
}
.rightbarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.birthdayText {
  font-weight: 300;
  font-size: 15px;
}
.rightAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
}
.rightbarTitle {
  padding: 0px 0px 14px;
}
